[submodule "connectomics/external/coxlabdata"]
	path = connectomics/external/coxlabdata
	url = git@github.com:coxlab/coxlabdata.git
[submodule "connectomics/external/sthor"]
	path = connectomics/external/sthor
	url = git@github.com:nsf-ri-ubicv/sthor.git
[submodule "connectomics/external/bangmetric"]
	path = connectomics/external/bangmetric
	url = git://github.com/npinto/bangmetric.git
[submodule "connectomics/external/bangreadout"]
	path = connectomics/external/bangreadout
	url = git://github.com/npinto/bangreadout.git
